<p>modif-suppr works!</p>
<li class="nav-item">
  <a class="nav-link" routerLink="/modif-suppr" ></a>
  </li>
  <form name="form" action="" method="">
    <p>
    prénom:<br />
    <input type="text" name="prenom" value="" />
    </p>
    <p>
      nom :<br />
      <input type="text" name="nom" value="" />
    </p>
    <p>
      téléphone :<br />
      <input type="text" name="phone" value="" />
    </p>
    <p>
      email :<br />
      <input type="text" name="mail" value="" />
    </p>
    <p>
      genre:<br />
      <input type="text" name="genre" value="" />
    </p>
    <p>
      age:<br />
      <input type="text" name="age" value="" />
    </p>
    <p>
      <input type="submit" value="Modifier" />
      <input type="reset" value="Annuler" />
    </p>
  </form>

